<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MDN Games: Babylon.js demo</title>
    <!-- Bring in bootstrap stylesheet -->
    <style>
        html,body { margin: 0; padding: 0; width: 99%; height: 99%; }
        canvas  { 
            margin: 5px; 
            padding: 1px; 
            width: 95%; 
            height: 95%; 
            border: 2px solid black;
            border-radius: 1%; 
            }
    </style>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>

<body>
    
	<div class="navbar">
		<a class="home" href="index">Home</a>
	</div>
    <div>
        <button type="button" onclick="storeMessage()">Click Me!</button>
        <input type="text" id="inputsmiles" name="inputsmiles">
        <input type="text" id="outputsmiles" name="outputsmiles">
    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="./static/appWIP.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>